<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV Reader</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>
<body>
  <div id="table" class="container none">
    <div class="row table-heading">
        <div class="col">
            <h2><%= title%></h2>
        </div>
    </div>
    <div class="row">

        <div class="col table-container">
            <table id="tab" class="table table-striped" >
              <thead>
                <tr>
                  <%for(i of heading){%>
                    <th scope="col"><%=i%></th>
                  <%}%>
                  <!-- <th scope="col">heading[0]</th>
                  <th scope="col">heading[1]</th>
                  <th scope="col">heading[2]</th> -->
                </tr>
              </thead>
              <tbody>
                <%for(let i = 0; i < length; i++){%>
                  <tr>
                    <%for(element of heading) {%>
                      <td><%=json[i][element]%></td>
                    <%}%>
                  </tr>
                <%}%>  
              </tbody>
              
            </table>
        
        </div>
    </div>
</div>
<script type="text/javacsript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
<script src="/js/index.js"></script>
</body>
</html>


