body{
    overflow-x: hidden;
    background-color: #c0c0c0;
    
}

#heading{
    text-align: center;
}

.row{
    margin: 0px !important;
}

.container{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    
}

.none{
    /* display: none; */
}

.upload-container{
    background-color: white;
    height: 850px;
    width: 95%;
    border-radius: 30px;
    margin-left: 35px;
}

.table-heading{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    align-items: center;
    font-weight: 800;
}

.topbox{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-inline{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.form-control{
    margin: 3px;
}

.table-container{
    height: 100%;
    width: 100%;
}

.subtext{
    /* background-color: red; */
    height: 100%;
    /* display: flex;
    align-items: center; */
    margin-top: 17rem;

}

.input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

}


#select-file{
    font-size: x-large;
}

#myfile{
    font-size: larger;
}


.upload-container{
    text-align: center;
}


.main-text{
    /* display: flex;
    flex-direction: row; */
    display: inline;
    text-align: center !important;
}

.main-text > i{
    font-size: xx-large;
}






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
